!yellow_light = #ffd953
!yellow_dark = #ffaf00

body
  width: 700px
  margin: 1em auto
  background: none repeat scroll 0 0 white

  .tweet
    .author
      height: 48px
      -moz-border-radius: 15px
      -webkit-border-radius: 15px
      border-radius: 15px
      margin-top: .3em
      .avatar
        float: left
        vertical-align: middle
        margin-right: 1em
      .desc
        float: left
        .one      
          .username
            font-weight: bold
            text-align: center
            margin-right: .5em
          .name
            color: red
        .two
          .ago
            font-size: .7em
          .via
            font-size: .6em

body, p, th, td
  font-family: "Helvetica Neue", Helvetica, sans-serif
  margin-top: 1em

